

/*-- scss:defaults --*/
:root {
   /* White */

   

  /* Blue */
  --bg-blue: rgba(237, 251, 255, 1);
  --li-bg-1-blue: rgba(189, 231, 244, 1);
  --li-bg-2-blue: rgba(237, 251, 255, 1);

  /* Orange */
  --bg-orange: rgba(254, 248, 237, 1);
  --li-bg-1-orange:rgba(237, 218, 182, 1);
  --li-bg-2-orange: rgba(254, 248, 237, 1);

  /* Green */
  --bg-green: rgba(239, 250, 239, 1);
  --li-bg-1-green: rgba(189, 224, 189, 1);
  --li-bg-2-green: rgba(239, 250, 239, 1);


  /* sensible defaults for slides without a theme */
  --bg: var(--bg-orange);
  --li-bg-1: var(--li-bg-1-orange);
  --li-bg-2: var(--li-bg-2-orange);
}

/*-- scss:rules --*/

.reveal .slide .card-list ul{
  list-style: none; /* Hide the default bullet */
  width: 100%;
  list-style: none; /* Hide the default bullet */
  line-height: 1.5
}
.reveal .slide .card-list ol {
  width: 100%;
  list-style-type: decimal;
  list-style-position: inside;
  line-height: 1.5

}
.reveal .slide .card-list > ul > li,
.reveal .slide .card-list > ol > li {
  display: block;
  box-sizing: border-box; /* Include padding in the element's total width */
  line-height: 1; /* Adjust line height for list items */
  background-color: var(--li-bg-1);
  padding-left:20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  width: 95%;
  line-height: 1.5
}

.reveal .slide .card-list li > :where(ul, ol) > li {
  background-color: var(--li-bg-2);
  /* optional tweaks so the inner card sits nicely inside the parent */
  width: 89%;
  padding-left:20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 12px;
  line-height: 1.5
}

.reveal .slide .card-list li > :where(ul, ol) > li > :where(ul, ol) > li {
  background-color: var(--li-bg-1);
  width: 88%;
  padding-left:20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 12px;
  line-height: 1.5
}


.reveal .slide .card-list ol > li {
  display: list-item; /* Restore normal list-item behavior */
}



/* Mini-themes (override only the tokens) */
.reveal .slides > section.theme-blue   { --bg: var(--bg-blue);   --li-bg-1: var(--li-bg-1-blue); --li-bg-2: var(--li-bg-2-blue);}
.reveal .slides > section.theme-orange { --bg: var(--bg-orange); --li-bg-1: var(--li-bg-1-orange); --li-bg-2: var(--li-bg-2-orange);}
.reveal .slides > section.theme-green  { --bg: var(--bg-green);  --li-bg-1: var(--li-bg-1-green); --li-bg-2: var(--li-bg-2-green);}

.reveal .slides p {
  line-height: 1.5; /* Adjust this value as needed */
}